@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Padauk&family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a{
  text-decoration: none;
  color: #333;
}

button{
  background: var(--button);
  padding: 14px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}


:root{
  --border: rgb(213, 211, 211);
  --button: #F85555;
}


.main{
  display: flex;
  flex-direction: row;
  position: relative;
}

/*FILTROS*/
.container_filters{
  position: relative;
  width: 23%;
  height: 2000px; 
}

.filters{
  width: 17%;
  height: 450px;
  margin: 20px;
  position: fixed;
  padding: 20px;
}


.title_price{
  border-bottom: 2px solid var(--border);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  height: 40px;
  justify-content: space-between;
  padding: 1px;
  align-items: center;
}

.searcher{
  grid-column: 1 / -1;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: auto 100px ;

}

.searcher input{
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border);
}

.inputs_price{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputs_price  div {
  display: flex;
  align-items: center;
}

input[type="number"]:focus{
  outline: none;
}

input[type="number"]{
  -moz-appearance: textfield;
  text-align: center;
  border: none;
  font-size: 15px;
  border: 1px solid var(--border);
  border-left: none;
  border-right: none;
  width: 74px;
  height: 30px;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.button_number{
  color: var(--button);
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  border: 1px solid var(--border);
}

.increment{
  border-radius: 0 45px 45px 0;
  padding: 0px 4px 0px 0px;
  border-left: none;
}

.decrement{
  border-radius: 45px 0 0 45px;
  padding: 0px 0px 0px 9px;
  border-right: none;
}

.button_filter{
  margin-top: 20px;
  text-align: right;
  margin-bottom: 20px;
}

.button_filter > button{
  padding: 10px;
}


.categories {
  margin-top: 20px;
  text-align: left;
  padding-left: 20px;
}

.categories li{
  list-style: none;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.863);
  padding-top: 10px;
}

.categories li:hover{
  color: black;
}


/*PRODUCTS*/
.content{
  width: -webkit-fill-available;
  padding: 30px auto;
  margin: 0px 52px 0px 40px;
}

.container_product {
  position: relative;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 40px;
  margin: 0 auto;
}

.container_product .card_product {
  width: 100%;
  background: #fff;
  border: 1px solid rgb(222, 220, 220);
  border-radius: 5px;
}

.container_product .card_product .img_bx {
  position: relative;
  width: 100%;
  height: 255px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.container_product .card_product .img_bx img {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  transform-origin: right;
  cursor: pointer;
}

.container_product .card_product:hover .img_bx img {
  transform: scale(1.5);
}

.content_product{
  border-top: 1px solid rgb(213, 211, 211);
  padding: 10px;
}

.price{
  display: block;
  color: var(--border);
  margin-bottom: 9px;
}

.content_product h2{
  font-size: 23px;
  font-weight: 600;
  color: #333;
  margin: 5px 0;  
}

.content_product h3{
  font-size: 18px;
  font-weight: 400; 
}

.action{
  position: absolute;
  top: 10px;
  right: 10px;
}

.action li{
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.5s;
  transform: translateX(60px);
}

.container_product .card_product:hover .action li{
  transform: translateX(0px);
}

.action li:hover{
  background: var(--button);
  color: #fff; 
}


.action li:nth-child(2){
  transition-delay: 0.15s;
}

.action li span{
  position: absolute;
  right: 50px;
  top: 50px;
  transform: translateY(-180%);
  white-space: nowrap;
  padding: 4px 60px;
  background: var(--border);
  color: #333;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}

.action li:hover span{
  transform: translateY(-180%) translateX(0px);
  opacity: 1;
}

.action li span::before{
  content: '';
  position: absolute;
  right: -4px;
  width: 8px;
  height: 8px; 
  background: var(--border);
  transform: translateY(-180%) rotate(45deg);
} 


/*PRODUCT DETAIL*/

.container_product_detail{
  width: 88%;
  margin: 20px auto;
  display: flex;
  margin-top: 70px;
}

.content_product_detail{
  width: 50%;
  padding: 20px;
}

#featured{
  display: block;
  margin: auto;
  width: 3;
  height: 80%;
  object-fit: cover;
  margin: 0 auto;
  cursor: pointer;
}


#slider > ul {
  display: block;
  display: flex;
  justify-content: center;
  list-style: none;
}

#slider > ul li{
  height: 70px;
  width: 70px;
  margin: 0 10px;
  padding: 5px;
  width: 70px;
}

.thumbnail{
  cursor: pointer;
  height: 100%;
  object-fit: contain;
  width: 70px;
  opacity: 0.5;
  border: 2px solid var(--button); 
}

.thumbnail:hover{
  opacity: 1;
}

.active{
  opacity: 1;
}

.image{
  width: 100%;
  height: 350px;
}

#slide_wrapper{
 
}

.info_product_detail{
  padding: 0px 30px 10px 30px;
}

.info_product_detail h2{
  padding: 10px;
  font-size: 23px;
}

.info_product_detail h3{
  padding-left: 10px;
}

.info_product_detail p{
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 20px;
  color: rgb(65, 64, 64);
}

.content_values{
  display: flex;
}

.content_values div{
  width: 50%;
}

.content_product_detail .add_cart{
  margin-top: 40px;
  width: 100%;
}

.suggestions{
  display: block;
  width: 93%;
  margin: auto;
  margin-top: 40px; 
  margin-bottom: 40px;
  color: var(--button); 
  font-size: 17px;
}